@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
.robots__reviews-container {
    background: rgba(255, 255, 255,0.1);
    padding-top: 1em;
    margin-top: 2rem;
}
.robots__reviews-container-slider {
    width: 80%;
    margin: 2rem auto;
    height: 470px;
}
.robots__reviews-container-slider h3 {
    font-family: var(--font-family);
    font-size: 2rem;
    text-align: center;
    margin: 2em;
}
.slide {
    transform: scale(0.2);
    transition: transform 300ms;
    opacity: 0.5;
}

.activeSlide {
    transform: scale(1.1);
    opacity: 1;
}

.arrow {
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

.arrow svg {
    transform: color 300ms;
    font-size: 2rem;

}

.arrow svg:hover {
    color: #68edff;
}

@media screen and (max-width: 1000px) {
    .slide img {
        width: 12rem;
        margin: 0 auto;
    }
.next {
    left: 20%;
    top: -20%;
}
.prev {
    left: 10%;
    top: -20%;
}
}

@media screen and (min-width: 1010px) { 
    .slide img {
        width: 14rem;
        margin: 0 auto;
    }
    
    .next {
        right: 0%;
        top: -10%;
    }
    .prev {
        right: 4%;
        top: -10%;
    }
}