.robots__collaborators-type_card img {
  border-radius: 24px;
}
.robots__collaborators-type_card h3 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-top: 1em;
}

.robots__collaborators-type_card p {
  display: flex;
  max-width: 210px;
  font-family: var(--font-family∫);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  border-bottom: 1px solid #fff;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 1px;
  margin-bottom: 2em;
}

@media screen and (max-width: 1050px) {
  .robots__collaborators-type_card {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 650px) {
  .robots__collaborators-type_card {
    margin: auto;
  }
}
